<!-- Tab titles -->
<ul class="nav nav-tabs">
    <li class="nav active"><a href="#tab-fit" data-toggle="tab">Fit</a></li>
    <li class="nav"><a href="#tab-molefrac" data-toggle="tab">Molefractions</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane fade in active" id="tab-fit">
        <div id="chart-fit">
            {{bindfit-high-charts content=chartDataFit chartOptions=chartOptionsFit theme=chartTheme}}
            {{bindfit-high-charts content=chartDataResiduals chartOptions=chartOptionsFit theme=chartTheme}}
        </div> <!-- Chart panel -->
    </div> <!-- #tab-fit -->

    <div class="tab-pane fade" id="tab-molefrac">
        <div id="chart-molefrac">
            {{bindfit-high-charts content=chartDataMolefrac chartOptions=chartOptionsMolefrac theme=chartTheme}}
        </div> <!-- Chart panel -->
    </div> <!-- #tab-molefrac -->

</div> <!-- .tab-content -->
