<form class="form-horizontal" {{action "saveFit" on="enter"}}>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-name">Email</label>
        <div class="col-xs-9">
            {{input id="bindfit-form-save-email" value=fit.meta.email type="text" class="form-control"}}
        </div>
        <div class="col-xs-offset-3 col-xs-9">
            <p class="help-block">Optional: enter a permanent email address here to retrieve all your fits securely later.</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-options-name">Options</label>
        <div class="col-xs-9">
            {{input id="bindfit-form-save-options-searchable" checked=fit.meta.options.searchable type="checkbox"}}
            Make fit publicly searchable
        </div>
        <div class="col-xs-offset-3 col-xs-9">
            <p class="help-block">
                Warning: this is permanent.
            </p>
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-name">Author(s)</label>
        <div class="col-xs-9">
            {{input id="bindfit-form-save-author" value=fit.meta.author type="text" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-name">Experiment name</label>
        <div class="col-xs-9">
            {{input id="bindfit-form-save-name" value=fit.meta.name type="text" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-date">Experiment date</label>
        <div class="col-xs-9">
           {{bootstrap-datepicker value=fit.meta.date format="dd/mm/yyyy" todayHighlight=true autoclose=true placeholder="Select date" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-ref">Lab book reference</label>
        <div class="col-xs-9">
            {{input id="bindfit-form-save-ref" value=fit.meta.ref type="text" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-host">Host species</label>
        <div class="col-xs-9">
            {{input id="bindfit-form-save-host" value=fit.meta.host type="text" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-guest">Guest species</label>
        <div class="col-xs-9">
            {{input id="bindfit-form-save-guest" value=fit.meta.guest type="text" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-solvent">Solvent</label>
        <div class="col-xs-9">
            {{input id="bindfit-form-save-solvent" value=fit.meta.solvent type="text" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-temp">Temperature</label>
        <div class="col-xs-5">
            {{input id="bindfit-form-save-temp" value=fit.meta.temp type="number" class="form-control"}}
        </div>
        <div class="col-xs-4">
            {{select-picker content=tempUnits
                            selection="C"
                            action=(action "onTempUnitSelect")
                            optionLabelPath="content"
                            optionValuePath="content"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bindfit-form-save-notes">Notes</label>
        <div class="col-xs-9">
            {{textarea id="bindfit-form-save-notes" value=fit.meta.notes class="form-control" rows="5"}}
        </div>
    </div>
</form>

<!-- Button or link displayed depending on whether save is available -->
{{#if output.isPopulated}}
    <a href={{output.url}} target="_blank" class="btn btn-info btn-block">Link to saved fit</a>
    {{input id="bindfit-save-output-url" value=output.url type="text" class="form-control"}}
{{else}}
    <button class="btn btn-default btn-block" {{action "saveFit"}}>Save</button>
{{/if}}
