<table class="table">
    <tbody>
        <tr class="active">
            <th scope="row">Parameter (bounds)</th>
            <th>Optimised</th>
            <th>Error</th>
            <th>Initial</th>
        </tr>
        {{#each paramsLabelled as |param|}}
            <tr>
                <!-- Parameter label -->
                {{#if (is-array param.label)}}
                    <!-- Array means sub-parameters - list on separate lines -->
                    <td>
                    {{#each param.label as |label index|}}
                        {{#if (eq index 0)}}
                            <!-- Display first label in bold, with bounds -->
                            <strong>{{label}}</strong>
                            ({{#if (eq param.bounds.min 0)}}
                                 0
                            {{else if param.bounds.min}}
                                {{param.bounds.min}}
                            {{else}}
                                -&infin;
                            {{/if}}
                            &rarr;
                            {{#if (eq param.bounds.max 0)}}
                                 0
                            {{else if param.bounds.max}}
                                {{param.bounds.max}}
                            {{else}}
                                &infin;
                            {{/if}})<br/>
                        {{else}}
                            ({{label}})<br/>
                        {{/if}}
                    {{/each}}
                    </td>
                {{else}}
                    <!-- Single parameter -->
                    <td>
                    <strong>{{param.label}}</strong> 
                    ({{#if (eq param.bounds.min 0)}}
                         0
                    {{else if param.bounds.min}}
                        {{param.bounds.min}}
                    {{else}}
                        -&infin;
                    {{/if}}
                    &rarr;
                    {{#if (eq param.bounds.max 0)}}
                         0
                    {{else if param.bounds.max}}
                        {{param.bounds.max}}
                    {{else}}
                        &infin;
                    {{/if}})
                    </td>
                {{/if}}

                <!-- Optimised value -->
                <!-- List on separate lines if more than one parameter value -->
                {{#if (is-array param.value)}}
                    <td>
                    {{#each param.value as |value|}}
                        {{format-sci value 2}} {{param.units}}<br/>
                    {{/each}}
                    </td>
                {{else}}
                    <td>{{format-sci param.value 2}} {{param.units}}</td>
                {{/if}}

                <!-- Error -->
                <!-- List on separate lines if more than one parameter error -->
                {{#if (is-array param.stderr)}}
                    <td>
                    {{#each param.stderr as |stderr|}}
                        &plusmn; {{format-sci stderr 4}} %<br/>
                    {{/each}}
                    </td>
                {{else}}
                    {{#if param.stderr}}
                        <td>&plusmn; {{format-sci param.stderr 4}} %</td>
                    {{else}}
                        <td>N/A</td>
                    {{/if}}
                {{/if}}

                <!-- Initial guess value -->
                <td>{{format-sci param.init 2}} {{param.units}}</td>
            </tr>
            {{#if param.mc}}
                <tr>
                    <td>K: MC error</td>
                    <td>{{format-sci param.mc.[0] 4}} %</td>
                    <td>&plus; {{format-sci param.mc.[1] 4}} %</td>
                    <td></td>
                </tr>
            {{/if}}
        {{/each}}

        <tr class="active">
            <th scope="row">Fit</th>
            <th>RMS</th>
            <th>Covariance</th>
            <th></th>
        </tr>
        <tr class="active">
            <th scope="row">Total</th>
            <th>{{format-sci fitResult.qof.rms_total 4}}</th>
            <th>{{format-sci fitResult.qof.cov_total 4}}</th>
            <th></th>
        </tr>
        {{#each fitResult.labels.data.y.row_labels as |label index|}}
                <tr>
                    <th>{{label}}</th>
                    <td>{{format-sci (get-index fitResult.qof.rms index) 4}}</td>
                    <td>{{format-sci (get-index fitResult.qof.cov index) 4}}</td>
                    <th></th>
                </tr>
        {{/each}}

        {{#if fitResult.fit.coeffs}}
            <tr class="active">
                <th scope="row">Coefficients</th>
                <th>
                    {{fitLabels.fit.coeffs.[0]}}
                </th>
                <th>
                    {{#if fitLabels.fit.coeffs.[1]}}
                        {{fitLabels.fit.coeffs.[1]}}
                    {{/if}}
                </th>
                <th>
                    {{#if fitLabels.fit.coeffs.[2]}}
                        {{fitLabels.fit.coeffs.[2]}}
                    {{/if}}
                </th>
            </tr>
            {{#each fitResult.labels.data.y.row_labels as |label index|}}
                    <tr>
                        <th>{{label}}</th>
                        <td>{{format-sci (get-at-index fitResult.fit.coeffs 0 index) 4}}</td>
                        {{#if fitResult.fit.coeffs.[1]}}
                            <td>{{format-sci (get-at-index fitResult.fit.coeffs 1 index) 4}}</td>
                        {{/if}}
                        {{#if fitResult.fit.coeffs.[2]}}
                            <td>{{format-sci (get-at-index fitResult.fit.coeffs 2 index) 4}}</td>
                        {{/if}}
                    </tr>
            {{/each}}
        {{/if}}

        <tr>
            <th scope="row">Time to fit</th>
            <td>{{format-sci fitResult.time 4}} s</td>
        </tr>
    </tbody>
</table>
