#bindfit-index {
    #sidebar {
        // Left align horizontal forms
        .form-horizontal .control-label {
            text-align: left;
        }
    } // sidebar
    
    #main {
    } // main
}
