@import "variables";
@import "bootstrap";

@import "index";

// Global app styles

// Navbar tweaks
#title-container {
    padding-top: $navbar-height;
}

.navbar-form {
    padding-top: $navbar-height/5;
}

.navbar-brand {
    font-family: $brand-font-family;
    font-size: $brand-font-size;
    text-transform: lowercase;
    padding: 0px 20px 0px 10px;

    line-height: $navbar-height;
    margin-top: ($navbar-height - 28px)/2;
    margin-bottom: ($navbar-height - 28px)/2;
    a, a:hover {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-transform: inherit;
        text-decoration: inherit;
        padding: inherit;
        line-height: inherit;
        margin: inherit;
        color: inherit;
    }
}

.navbar-nav {
    text-transform: uppercase;
    font-family: $headline-font-family;
    li > a {
        line-height: $navbar-height;
    }
}

.list-picker-clear-filter {
    font-size: 10px;
}

// Sidebar tab styling
#sidebar {
    .nav-tabs {
        .nav > a {
        }

        .nav.active > a {
            background-color: $gray-lighter;
        }
    }

    .tab-content > .tab-pane {
        .panel {
            background-color: $gray-lighter;
            border-top: none;
            border-radius: 0px 0px $border-radius-base $border-radius-base;
        }
    }
}

// Chart group sizes
// TODO move this to a mixin later
#chart-fit {
    div:nth-of-type(1) {
        height:400px;
    } // First div: fit chart

    div:nth-of-type(2) {
        height: 250px;
    } // Second div: residuals chart

    .highcharts-wrapper {
        height: 100%;
    }
}

#chart-molefrac {
    div:nth-of-type(1) {
        height:400px;
    } // First div: fit chart

    .highcharts-wrapper {
        height: 100%;
    }
}

// Better bootstrap-style file input
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

// Async button styles
.async-button {
    @extend .btn;
    @extend .btn-block;
}
.async-button.default {
    @extend .btn-primary;
}
.async-button.pending {
    @extend .btn-default;
}
.async-button.fulfilled {
    @extend .btn-info;
}
.async-button.rejected {
    @extend .btn-warning;
}
