<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Supramolecular - BindFit v0.5</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}

    <!-- Base vendor stylesheet -->
    <link rel="stylesheet" href="assets/vendor.css">
    <!-- App-specific customisations -->
    <link rel="stylesheet" href="assets/bindfit-client.css">
    <!-- <link rel="stylesheet" href="http://supramolecular.org/static/css/base.css"> -->

    {{content-for 'head-footer'}}
</head>
<body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/bindfit-client.js"></script>

    {{content-for 'body-footer'}}
</body>
</html>
