<div id="bindfit-search" class="container">
<div class="row">

    <div id="main" class="col-xs-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <!-- Disable form submit/page reload on enter press -->
                    <div class="col-xs-12">
                        <form onsubmit="return false">
                            <div class="input-group">
                                {{input value=simpleSearchInput
                                        type="text" 
                                        class="form-control" 
                                        id="simple-search-input" 
                                        placeholder="Search published fits"}}
                            
                                <span class="input-group-btn">
                                    {{async-button action="doSimpleSearch" 
                                                   default="Search" 
                                                   pending="Searching ..." 
                                                   fulfilled="Search again" 
                                                   rejected="Search failed" 
                                                   id="search-button"}}
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-xs-12">
                        {{#if model.searchResult.isPopulated}}
                            <ul class="list-group">
                                <li class="list-group-item list-group-heading">
                                    <big>
                                    {{#if (eq model.searchResult.numMatches 0)}}
                                        No matches found
                                    {{else if (eq model.searchResult.numMatches 1)}}
                                        1 match found
                                    {{else}}
                                        {{model.searchResult.numMatches}} matches found
                                    {{/if}}
                                    </big>
                                </li>
                            </ul>
                            <div class="list-group">
                                {{#each model.searchResult.links as |link|}}
                                    <a href="{{link.link}}" class="list-group-item">
                                        <strong class="text-primary">{{#if link.fitter_name}}{{link.fitter_name}}{{else}}No fitter{{/if}}</strong>&emsp;
                                        <span class="text-secondary">{{#if link.name}}{{link.name}}{{else}}No name{{/if}}</span>&emsp;
                                        <span class="text-muted">{{#if link.author}}{{link.author}}{{else}}No author{{/if}}</span>
                                        <span class="pull-right text-info">
                                            {{#if link.timestamp}}{{moment-format link.timestamp "YYYY-MM-DD, hh:mma"}}{{else}}No timestamp{{/if}}
                                        </span>
                                    </a>
                                {{/each}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div> <!-- .panel-body -->
        </div> <!-- .panel -->
    </div> <!-- #main -->

    <div id="sidebar" class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <!-- Disable form submit/page reload on enter press -->
                    <div class="col-xs-12">
                        <form onsubmit="return false">
                            <div class="input-group">
                                {{input value=emailInput 
                                        type="text" 
                                        class="form-control" 
                                        id="email-input" 
                                        placeholder="Enter email"}}

                                <span class="input-group-btn">
                                    {{async-button action="doEmailSearch" 
                                               default="Retrieve fits" 
                                               pending="Retrieving ..." 
                                               fulfilled="Success!" 
                                               rejected="Failed" 
                                               id="email-button"}}
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-xs-12">
                        <p>Retrieve your unpublished fits securely via email.</p>
                    </div>
                </div>

            </div> <!-- .panel-body -->
        </div> <!-- .panel -->


    </div> <!-- #main -->

</div> <!-- global row -->
</div> <!-- container -->
