<div id="bindfit-view" class="container-fluid">
<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-5 col-lg-4">

    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#tab-input" data-toggle="tab">Input</a></li>
        {{#unless model.fitResult.no_fit}}
            <li class="nav"><a href="#tab-results"  data-toggle="tab">Results</a></li>
        {{/unless}}
        <li class="nav"><a href="#tab-metadata" data-toggle="tab">Metadata</a></li>
        <li class="nav"><a href="#tab-edit"     data-toggle="tab">Edit</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-input">
        <div class="panel panel-default">
        <div class="panel-body">

            <table class="table">
                <tbody>
                    <!-- Fitter -->
                    <tr>
                        <th scope="row">Fitter</th>
                        <td>{{model.fitResult.fitter_name}}</td>
                    </tr>

                    <!-- Parameters -->
                    {{#unless model.fitResult.no_fit}}
                        <tr class="active">
                            <th scope="row">Parameter</th>
                            <th>Input guess</th>
                        </tr>
                        {{#each paramsLabelled as |param|}}
                            <tr>
                                {{#if (is-array param.label)}}
                                    <!-- Sub-params - display only first for guess -->
                                    <th scope="row">{{param.label.[0]}}</th>
                                {{else}}
                                    <th scope="row">{{param.label}}</th>
                                {{/if}}
                                <td>{{format-sci param.init 2}} {{param.units}}</td>
                            </tr>
                        {{/each}}

                        <tr class="active">
                            <th scope="row">Options</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th scope="row">Dilution correction</th>
                            <td>
                                {{#if model.fitResult.options.dilute}}
                                    Yes
                                {{else}}
                                    No 
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Subtract initial values</th>
                            <td>
                                {{#if model.fitResult.options.normalise}}
                                    Yes
                                {{else}}
                                    No 
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Fit method</th>
                            <td>
                                {{#if model.fitResult.options.method}}
                                    {{model.fitResult.options.method}}
                                {{else}}
                                    Default
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Fit flavour</th>
                            <td>
                                {{#if model.fitResult.options.flavour}}
                                    {{model.fitResult.options.flavour}}
                                {{else}}
                                    None
                                {{/if}}
                            </td>
                        </tr>
                    {{/unless}}
                </tbody>
            </table>

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-input -->

        
        {{#unless model.fitResult.no_fit}}
            <div class="tab-pane fade" id="tab-results">
            <div class="panel panel-default">
            <div class="panel-body">

                {{fit-result-table fitResult=model.fitResult fitLabels=model.fitLabels}}

            </div> <!-- .panel-body -->
            </div> <!-- .panel -->
            </div> <!-- #tab-results -->
        {{/unless}}

        <div class="tab-pane fade" id="tab-metadata">
        <div class="panel panel-default">
        <div class="panel-body">

            <table class="table">
                <!-- Metadata -->
                <tbody>
                    <tr>
                        <th scope="row">Fit ID</th>
                        <td>{{model.fitID}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Searchable</th>
                        <td>
                            {{#if model.fitResult.meta.options.searchable}}
                                Yes
                            {{else}}
                                No
                            {{/if}}
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">Author(s)</th>
                        <td>{{model.fitResult.meta.author}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Experiment name</th>
                        <td>{{model.fitResult.meta.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Experiment date</th>
                        <td>
                            {{#if model.fitResult.meta.date}}
                                {{moment-format model.fitResult.meta.date}}
                            {{else}}
                                No date given
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fit date</th>
                        <td>{{moment-format model.fitResult.meta.timestamp}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Lab book reference</th>
                        <td>{{model.fitResult.meta.ref}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Host species</th>
                        <td>{{model.fitResult.meta.host}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Guest species</th>
                        <td>{{model.fitResult.meta.guest}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Solvent</th>
                        <td>{{model.fitResult.meta.solvent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Temperature</th>
                        <td>
                            {{#if model.fitResult.meta.temp}}
                                {{model.fitResult.meta.temp}} {{model.fitResult.meta.temp_unit}}
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Notes</th>
                        <td>{{model.fitResult.meta.notes}}</td>
                    </tr>
                </tbody>
            </table>

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-metadata -->

        <div class="tab-pane fade" id="tab-edit">
        <div class="panel panel-default">
        <div class="panel-body">

            {{fit-export fit=model.fitResult output=model.fitExport}}
            <br/>
            {{#unless model.fitResult.no_fit}}
                {{#link-to "edit" model.fitID class="btn btn-info btn-block"}}Edit fit{{/link-to}}
            {{else}}
                {{#link-to "edit" model.fitID class="btn btn-info btn-block"}}Fit data{{/link-to}}
            {{/unless}}

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-edit -->

    </div> <!-- .tab-content -->

    </div> <!-- Sidebar -->



    <div id="main" class="col-xs-12 col-md-7 col-lg-8">

        <div class="row">
            <div class="col-xs-12">
                {{fit-charts fitResult=model.fitResult fitLabels=model.fitLabels}}
            </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
</div> <!-- container fluid -->
